<!--<c-row>-->
<!--  <c-col xs="12">-->
<!--    <c-card class="mb-4">-->
<!--      <c-card-body>-->
<!--        <form-->
<!--          (ngSubmit)="onSubmit3()"-->
<!--          [validated]="tooltipValidated"-->
<!--          cForm-->
<!--          class="row g-3 needs-validation"-->
<!--        >-->
<!--          <c-col class="position-relative" md="6">-->
<!--            <label cLabel>Ngày sinh</label>-->
<!--            <input cFormControl required type="date" id="birthday" name="birthday">-->
<!--            <c-form-feedback [valid]="false" tooltip>Tên danh mục</c-form-feedback>-->
<!--          </c-col>-->
<!--          <c-col class="position-relative" md="6">-->
<!--            <label cLabel >Số điện thoại</label>-->
<!--            <input cFormControl required type="text"/>-->
<!--            <c-form-feedback [valid]="false" tooltip>Vui lòng số diện thoại.</c-form-feedback>-->
<!--          </c-col>-->
<!--          <c-col class="position-relative" md="12">-->
<!--            <label cLabel>Địa chỉ</label>-->
<!--            <input cFormControl required type="text"/>-->
<!--            <c-form-feedback [valid]="false" tooltip>Please provide a valid State.</c-form-feedback>-->
<!--          </c-col>-->
<!--          <c-col xs="12">-->
<!--            <button cButton class="me-1" color="primary" type="submit">-->
<!--              Submit form-->
<!--            </button>-->
<!--            <button (click)="onReset3()" cButton color="secondary" type="reset">-->
<!--              Reset-->
<!--            </button>-->
<!--          </c-col>-->
<!--        </form>-->
<!--      </c-card-body>-->
<!--    </c-card>-->
<!--  </c-col>-->
<!--</c-row>-->

