<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <table [hover]="true" cTable>
          <thead>
          <tr>
            <th scope="col" style="text-align: center">STT</th>
            <th scope="col" style="text-align: center">Tên danh mục</th>
            <th scope="col" style="text-align: center">Thao tác</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listCategories">
            <th scope="row" style="text-align: center">{{item.id + 1}}</th>
            <td style="text-align: center">{{item.name}}</td>
            <td style="text-align: center">
              <button class="btn"><svg [cIcon]="icons.cilSpreadsheet" width="15" title="List Icon"></svg></button>
              <button class="btn"><svg [cIcon]="icons.cilPenAlt" width="15" title="Shield Icon"></svg></button>
              <button class="btn"><svg [cIcon]="icons.cilTrash" width="15" title="Shield Icon"></svg></button>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
