<nz-table #rowSelectionTable [striped]="true" cTable class="col-12"
[nzData]="listOfData"
>
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Tên người dùng</th>
    <th scope="col">Địa chỉ</th>
    <th scope="col">Email</th>
    <th scope="col">Thao tác</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of rowSelectionTable.data">
    <th scope="row"></th>
    <td>{{ data.name }}</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>
      <a href="" scope="col" class="" style="margin-right: 10px">xóa</a>
      <a href="" scope="col" style="margin-right: 10px">a</a>
      <a href="" scope="col">f</a>
    </td>
  </tr>
  </tbody>
</nz-table>
